* {
  margin: 0;
}

body {
  background-color: #ccc;
}

.header nav {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: black;
  color: white;
  padding: 0 25px;
  font-size: larger;
}

.header ul {
  flex-basis: 80%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.header nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
}

.header nav a:hover {
  color: lightblue;
}

.content {
  width: 70%;
  min-height: 350px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid grey;
  margin: 25px auto;
  padding: 25px;
}

.login input {
  display: block;
  margin: 15px;
  padding: 15px;
}